# =========================
# APP PUBLIC CONFIG
# =========================

PUBLIC_APP_NAME="Uang Pribadi"
PUBLIC_APP_DESCRIPTION="Aplikasi pencatatan uang pribadi"
PUBLIC_APP_URL="http://localhost:5173"

PUBLIC_DEFAULT_CURRENCY="IDR"
PUBLIC_DEFAULT_LOCALE="id-ID"
PUBLIC_TIMEZONE="Asia/Jakarta"

# Untuk mode UI
PUBLIC_THEME_DEFAULT="ghibli"
PUBLIC_ENABLE_PWA="true"

# Untuk fitur OCR client-side
PUBLIC_OCR_MODE="client"
PUBLIC_MAX_UPLOAD_MB="5"